flask
gunicorn
absl-py
astunparse
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
firebase-admin
Flask-Cors
flatbuffers
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h5py
httplib2
idna
itsdangerous
Jinja2
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
msgpack
namex
numpy
opt-einsum
optree
packaging
pandas
pillow
pip
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
Pygments
PyJWT
pyparsing
python-dateutil
pytz
requests
rich
rsa
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
termcolor
typing_extensions
tzdata
uritemplate
urllib3
Werkzeug
wheel
wrapt