.home-page {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    padding: 16px;
  }
  